#pagina{
    margin: 0 auto;
    padding: 0;
}

#cabecalho,#esquerda,#centro,#direita,#rodape{
    background-color: rgb(219, 196, 255);
    margin: 10px;
}

#cabecalho{
    height: 150px;
}

#esquerda{
    width: 20%;
    height: 500px;
    float: left;
}

#centro{
    width: 55%;
    height: 500px;
    float: left;
}

#direita{
    width: 20%;
    height: 500px;
    float: right;
}

#rodape{
    height: 50px;
    background-color: rgb(184, 118, 247);
    clear: both;
}

#p{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    color: rgb(240, 213, 181);
}

img {
    height: 300px;
    width: 500px;
    text-align: center;
}
